node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# We don't have sensitive environment variables, so we don't need to ignore .env files

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
